* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Grape Nuts', cursive;
}
body {
    background-color: rgb(252, 252, 215);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    overflow-x:hidden ;
    
}
/* notepad background - rows and columns */

.notepad {
    background-image: url("http://i.stack.imgur.com/yWNH7.png");
    position: relative;
    top: 60px;
    height: 100vh;
    width: 93%;
    background-size: 1.7px;
    background-position:  bottom 40px right 20px;
  
    /* overflow: hidden; */
}

.notepad-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100vh;
 
    background-color: rgba(250, 250, 205, 0.788);
}
/* .notepad-rows{
    display: block;
    position: absolute;
   
    top: 60px;
}
.rows{
    position: absolute;
    height: 40px;
    color: rgba(0, 0, 0, 0.74);
    width: 100%;
    border-bottom: 1px solid rgba(1, 1, 48, 0.151);
}
.double-line {
    position: absolute;
    width: 80px;
    height: 100%;
    border-right: 2px solid red;

}
.double-line::after {
    position: absolute;
    content: '';
    width: 85px;
    height: 100%;
    border-right: 1px solid red;
}
.thick-line {
    position: absolute;
    right: 80px;
    top: 0;
    border-left: 1px solid red;
    height: 100%;
} */

.notepad-columns {
    position: absolute;
    width: 100%;
    height: calc(100% + 120px);
    top: 0px;
}
.double-line {
    position: absolute;
    left: 5%;
    height: 100%;
    border-right: 2px solid red;

}
.double-line::after {
    position: absolute;
    content: '';
    left: 10px;
    height: 100%;
    border-right: 1px solid red;
}
.thick-line {
    position: absolute;
    right: 80px;
    right: 5%;
    border-left: 1px solid red;
    height: 100%;
} 

/* notepad - dates */
.set-date {
    position: absolute;
    z-index: 99;
    font-weight: 900;
    border: 2px solid black;
    width: 140px;
    text-align: center;
    border-radius: 20px;
    padding: 6px;
    top: 30px;
    right: 140px;
    background-color: rgb(252, 252, 215);
    transform: rotate(-1deg);
}
.set-date:hover {
    background-color: rgba(250, 250, 31, 0.822);
    transform: rotate(-2deg);
    width: 150px;
    font-size: 20px;
    box-shadow: 3px 1px 4px 1px rgba(94, 94, 94, 0.219);
}  
.week {
    position: absolute;
    display: flex;
    top: 40px;
    left: 140px;
}
.days {
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}
.day-box {
    width: 15px;
    height: 15px;
    margin-right: 1px;
    border: 2px solid black;
    border-radius: 50%;
}



/* menu */
.menu-buttons {
    margin-top: -90px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-play {
    margin: 10px;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    font-size: 65px;
    height: 143px;
    width: 480px;
    border-width: 3px 4px 3px 5px;
    border-radius: 8px 10%;
    transform: rotate(1deg);
    transition: all ease 0.2s;
    background-color: rgba(250, 250, 102, 0.822);
}
.btn-play:hover {
    transform: scale(1.1);
    font-size: 75px;
    border-radius:  10% 8%;
    box-shadow: 3px 1px 4px 1px rgba(53, 52, 52, 0.37);
    background-color: rgba(250, 250, 24, 0.822);
 }
.btn-addword {
    margin: 10px;
    height: 80px;
    width: 400px;
    font-family: 'Grape Nuts', cursive;
    font-weight: 900;
    font-size: 30px;
    border-width: 3px 4px 3px 5px;
    border-radius: 10% 8px;
    transition: all ease 0.35s;
    background-color: rgba(248, 248, 157, 0.822);
}
.btn-addword:hover {
    transform: scale(1.1);
    font-size: 40px;
    border-radius: 18% 7px;
    box-shadow: 3px 1px 4px 1px rgba(53, 52, 52, 0.37);
    background-color: rgba(252, 252, 54, 0.822);
}

/* table */
.table {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    /* background-color: aqua; */

}
canvas {
    display: none;
    
    /* border: 1px solid  black; */
    transition: all ease 1s;
    opacity: 0;
    margin-top: 80px;
    width: 500px;
    height: 360px;
 
}
.analog-keyboard {
    position: absolute;
    background-color: brown;
    top: 615px;
    justify-content: center;
    z-index: 99;
}
.game-keyboard {
    display: none;
    /* border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color: rgb(247, 247, 192); */
    position: absolute;
    display: none;
    opacity: 0;
    font-weight: 900;
    top: 615px;

    justify-content: center;
    font-size: 40px;
    transition: all ease-in 0.65s;
}
.keyboard {
    /* text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.295); */
    font-size: 30px;
    font-weight: 900;
    border: none;
    height: 45px;
    width: 45px;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    z-index: 99;
}
.keyboard:hover{
    background-color: rgb(252, 252, 54);
    border: 1px solid black;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.664);
}

/* footer */
footer {
    position: relative;
    background-color: rgb(252, 252, 215);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    
    /* border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%; */
     font-size: 25px;
    /* height: 30px;
    position: absolute;
    bottom: 100px;
    right: 120px; */ 
}
.info  {
    margin-bottom: 30px;
    margin-right: 140px;
    z-index: 99;
}


.text {
    background-color: rgb(228, 129, 129);
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 700px;
    width: 100vw;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.underline-letra {
    border-bottom: 2px solid black;
    margin-right: 5px;
    width: 10px;
}

.add-word {
    background-color: blueviolet;
    position: absolute;
    display: none;
    z-index: 99;
    
}