* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Grape Nuts', cursive;
}
body {
    width: 100vw;
    background-image: url('data:image/webp;base64,UklGRh4CAABXRUJQVlA4IBICAADwHgCdASr6APoAPm02lkmkIqGiIHVY8IANiWlu4XXO/Wf3jovpwFD5ZD5//E/1z/AD0QCvq+9mSOdQ1O+iMPwdqd9UHCLqSQMc9NLOX7HMqJWrde0Wls/p1at17Raut6d2uCo5FYDVWRUEBBuBTz7gMCt/E/GO789LMkc6hqd9UFXPdPsVzUo1HwbMeky4gAUDKTqoORa9pXLyM/zqGsqQ451DVEpXRbp6wVqRtSNqRtSOrOkrUqJvuUjcM5Z0KepSSHG6Nlk+eOlbJWp31Sfsxll1qUTiRzqGp31QVc90l4RcyyFTCLzhkJxI1StLRyPTSf7m4/iHanfVBwi60tEAAP718fHkiZvpTS4OnrYk1njw5CTWePD2QAxIPjYxmXxgAXGBHe4BjeJ2qdqnap2qdqnap2qen8Mj/7R4mAAAAQhxfM+yuUKjmL/THBvW5gLhco5OaWrNOgL8lPDC9udbz/gBrcjsf8jMXIfE9yHwyRYEEom4zp6/SToPFPxrfOdAILHwoVRxpvPLbownplPno5WDgGZQCQqN615ZgRqO9oUitLg547PLw/fBEy3cVOsZAV0G9e6ybhIFSRxS6SwEw8+nadEtgK7KkqMrq2jqyAQCvpLO/9cFCox29/IAnqvv88I0Qg1iNaxZw3IYyXzHl9aNE3s/dIXSQWZY6KzI0EQBcHomh4R+gYw0lriePVLAAA==');
    background-size: 1920px 1080px;
    overflow-x:hidden ;
}
/* notepad background - rows and columns */

.notepad {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    background-color: rgba(252, 252, 16, 0.185);
}
/* .notepad-rows{
    display: block;
    position: absolute;
   
    top: 60px;
}
.rows{
    position: absolute;
    height: 40px;
    color: rgba(0, 0, 0, 0.74);
    width: 100%;
    border-bottom: 1px solid rgba(1, 1, 48, 0.151);
}
.double-line {
    position: absolute;
    width: 80px;
    height: 100%;
    border-right: 2px solid red;

}
.double-line::after {
    position: absolute;
    content: '';
    width: 85px;
    height: 100%;
    border-right: 1px solid red;
}
.thick-line {
    position: absolute;
    right: 80px;
    top: 0;
    border-left: 1px solid red;
    height: 100%;
} */

.notepad-columns {
    position: absolute;
    width: 100%;
    height: calc(100% + 120px);
    top: 0px;
}
.double-line {
    position: absolute;
    width: 80px;
    height: 100%;
    border-right: 2px solid red;

}
.double-line::after {
    position: absolute;
    content: '';
    width: 85px;
    height: 100%;
    border-right: 1px solid red;
}
.thick-line {
    position: absolute;
    right: 80px;
    top: 0;
    border-left: 1px solid red;
    height: 100%;
} 

/* notepad - dates */
.set-date {
    position: absolute;
    z-index: 99;
    font-weight: 900;
    border: 2px solid black;
    width: 140px;
    text-align: center;
    border-radius: 20px;
    padding: 6px;
    top: 30px;
    right: 140px;
    background-color: rgb(252, 252, 215);
    transform: rotate(-1deg);
}
.set-date:hover {
    background-color: rgba(250, 250, 31, 0.822);
    transform: rotate(-2deg);
    width: 150px;
    font-size: 20px;
    box-shadow: 3px 1px 4px 1px rgba(94, 94, 94, 0.219);
}  
.week {
    position: absolute;
    display: flex;
    top: 40px;
    left: 140px;
}
.days {
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}
.day-box {
    width: 15px;
    height: 15px;
    margin-right: 1px;
    border: 2px solid black;
    border-radius: 50%;
}



/* menu */
.menu-buttons {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    
}
button {
    


   
    display: flex;
    justify-content: center;
    align-items: center;
   
    cursor: pointer;
}
.btn-play {
    margin: 10px;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    font-size: 65px;
    height: 143px;
    width: 480px;
    border-width: 3px 4px 3px 5px;
    border-radius: 8px 10%;
    transform: rotate(1deg);
    transition: all ease 0.2s;
    background-color: rgba(253, 253, 131, 0.822);
}
.btn-play:hover {
    transform: scale(1.1);
    font-size: 75px;
    border-radius:  10% 8%;
    box-shadow: 3px 1px 4px 1px rgba(53, 52, 52, 0.37);
    background-color: rgba(250, 250, 24, 0.822);
 }
.btn-addword {
    margin: 10px;
    height: 80px;
    width: 400px;
    font-family: 'Grape Nuts', cursive;
    font-weight: 900;
    font-size: 30px;
    border-width: 3px 4px 3px 5px;
    border-radius: 10% 8px;
    transition: all ease 0.35s;
    background-color: rgba(248, 248, 157, 0.822);
}
.btn-addword:hover {
    transform: scale(1.1);
    font-size: 40px;
    border-radius: 18% 7px;
    box-shadow: 3px 1px 4px 1px rgba(53, 52, 52, 0.37);
    background-color: rgba(252, 252, 54, 0.822);
}

/* table */
.table {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
canvas {
    display: none;
    /* border: 1px solid  black; */

    transition: all ease 1s;
    opacity: 0;
    margin-top: 140px;
    width: 500px;
    height: 360px;
 
}

.game-keyboard {
    position: absolute;
    display: none;
    opacity: 0;
    font-weight: 900;
    top: 580px;
    width: 100vw;
    justify-content: center;
    font-size: 35px;
    transition: all ease-in 0.65s;
}
.keyboard {
    margin-right: 10px;
    font-size: 30px;
    font-weight: 900;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
   
    z-index: 99;
}
.keyboard:hover{
    background-color: rgb(252, 252, 54);
}

/* footer */
footer {
    position: relative;
    background-color: rgb(252, 252, 215);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    /* border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%; */
     font-size: 25px;
    /* height: 30px;
    position: absolute;
    bottom: 100px;
    right: 120px; */ 
}
.info div {
    margin-bottom: 10px;
    margin-right: 140px;
}