* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Grape Nuts', cursive;
}

/* notepad background - rows and columns */
h1 {
    font-size: 100px;
    position: absolute;
    top: 50px;
    width: 100vw;
    text-align: center;
    
}
.notepad {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgb(252, 252, 215);
}
.notepad-rows{
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 60px;
}
.rows{
    height: 40px;
    color: rgba(0, 0, 0, 0.74);
    width: 100%;
    border-bottom: 1px solid rgba(1, 1, 48, 0.342);
}
.double-line {
    position: absolute;
    width: 80px;
    height: 100vh;
    border-right: 2px solid red;
}
.double-line::after {
    position: absolute;
    content: '';
    width: 85px;
    height: 100vh;
    border-right: 1px solid red;
}
.thick-line {
    position: absolute;
    right: 80px;
    top: 0;
    border-left: 1px solid red;
    height: 100vh;
}

/* notepad - dates */
.set-date {
    position: absolute;
    z-index: 99;
    font-weight: 900;
    border: 2px solid black;
    width: 140px;
    text-align: center;
    border-radius: 20px;
    padding: 6px;
    top: 30px;
    right: 140px;
    background-color: rgb(252, 252, 215);
    transform: rotate(-1deg);
}
.set-date:hover {
    background-color: rgba(250, 250, 31, 0.822);
    transform: rotate(-2deg);
    width: 150px;
    font-size: 20px;
    box-shadow: 3px 1px 4px 1px rgba(94, 94, 94, 0.219);
}  
.week {
    position: absolute;
    display: flex;
    top: 40px;
    left: 140px;
}
.days {
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}
.day-box {
    width: 15px;
    height: 15px;
    margin-right: 1px;
    border: 2px solid black;
    border-radius: 50%;
}



/* menu */
.buttons {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    border: 2px solid rgb(0, 0, 0);
    height: 80px;
    margin: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.1s;
    cursor: pointer;
}
button:first-child {
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    font-size: 65px;
    height: 143px;
    width: 480px;
    border-width: 3px 4px 3px 5px;
    border-radius: 8px 10%;
    transform: rotate(1deg);
    background-color: rgba(253, 253, 131, 0.822);
}
button:first-child:hover {
    transform: scale(1.1);
    font-size: 75px;
    border-radius:  10% 8%;
    box-shadow: 3px 1px 4px 1px rgba(53, 52, 52, 0.37);
    background-color: rgba(250, 250, 24, 0.822);
 }
 button:last-child {
    font-family: 'Grape Nuts', cursive;
    font-weight: 900;
    font-size: 30px;
    border-width: 3px 4px 3px 5px;
    border-radius: 10% 8px;
    background-color: rgba(248, 248, 157, 0.822);
}
button:last-child:hover {
    transform: scale(1.1);
    font-size: 40px;
    border-radius: 18% 7px;
    box-shadow: 3px 1px 4px 1px rgba(53, 52, 52, 0.37);
    background-color: rgba(252, 252, 54, 0.822);
}



/* footer */
footer {
    font-size: 25px;
    height: 30px;
    position: absolute;
    bottom: 100px;
    right: 120px;
}
.info div {
    margin-bottom: 10px;
}